<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Anton&family=Space+Grotesk:wght@400;700&display=swap');
        h1, h2 { font-family: 'Anton', sans-serif; letter-spacing: -1px; }
        body { font-family: 'Space Grotesk', sans-serif; }
    </style>
</head>
<body class="bg-black text-white min-h-screen p-8">

    <ul>
      <li><a href="{{ url_for('openrouter_view', id_=234465) }}">Dodo Case Study</a></li>
      <li><a href="{{ url_for('openrouter_view', id_=119224) }}">Wimm Hügelgräber</a></li>
      <li><a href="{{ url_for('openrouter_view', id_=15554) }}">Dodo Zeichnung</a></li>
      <li><a href="{{ url_for('openrouter_view', id_=197087) }}">Venus Case study</a></li>
      <li><a href="{{ url_for('openrouter_view', id_=196144) }}">Josef Szombathy</a></li>
      <li><a href="{{ url_for('openrouter_view', id_=36234) }}">Karnburg Weihnachten 888</a></li>
      <li><a href="{{ url_for('openrouter_view', id_=196330) }}">Ferdinand von Hochstetter</a></li>
      <li><a href="{{ url_for('openrouter_view', id_=47049) }}">Katzelsdorf</a></li>
    </ul>


</body>
</html>
